@using Main.Models
@model List<Main.Models.ShowModel>

@{
	ViewData["Title"] = "Get_podcasts";
}

<h1>Get_podcasts</h1>

<div style="text-align: center; padding: 50px;">
	<h1>Search Podcasts</h1>
	<p>Click the button below to search for podcasts.</p>

	<form method="get" asp-action="Get_Podcasts" asp-controller="Home">
		<input type="text" name="query" placeholder="Enter podcast name" value="@ViewBag.Query" />
		<button type="submit">Search</button>
	</form>

	<div>
		@{
			const int MaxLength = 550;
			if (Model != null)
			{
				foreach (var show in Model)
				{
					<h3>@show.Name</h3>
					if (show.Description.Length > MaxLength)
					{
						var description = show.Description.Substring(0, MaxLength);
						<p>@description</p>
					}
					else
					{
						<p>@show.Description</p>
					}

					var firstFiveEpisodes = show.Episodes.Take(5);

					// 2. Loop through just those 5
					foreach (var episode in firstFiveEpisodes)
					{
						// 3. Print each one's name ONCE
						<p>@episode.Name</p>
					}
				}
			}
		}
	</div>
</div>